/*
-
-   Estilos para o backend
-
-*/

.btnAdminEditar{
    background: #4CAF50;
    border-radius: 5px;
    color: #ffffff;
    padding: 5px;
}
.btnAdminEditar:hover{
    background: #3f9043;
    color:#ffffff;
    text-decoration: none;
}
a.btnLiberarRetirada {
    background: #4CAF50;
    color: #ffffff;
    padding: 7px;
    border-radius: 4px;
}
a.btnLiberarRetirada:hover {
    background: #459149;
    color: #ffffff;
}